#logo {
  width: 200px;
  height: 200px;
  background-image: url('../assets/holberton-logo.jpg');
  background-size: cover;
  background-position: center;
}

#count {
  position: relative;
  left: 50px;
  font-weight: bold;
}
